version: '3.8'

services:
  mongo:
    image: mongo:latest
    container_name: knownet-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

  api:
    build: .
    container_name: knownet-api
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/knownet
      - PORT=3000
    depends_on:
      - mongo
    restart: always

volumes:
  mongo_data:
